{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
<style type="text/css">

</style>
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/banners.js"></script>
<!-- <script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        var base_url = $.environmentVar(
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/',
            'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com',
            'https://pay.loadingplay.com');
        var app_public = $.environmentVar(69,69,69);
        var site_name = $.environmentVar('vitrineate', 'vitrineate', 'vitrineate');
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 16,
            'templateOrigin' : '#product_template',
            'tag' : ,
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script> -->
<script type="text/javascript">
    $(document).ready(function()
    {
    //   
    $(document).on("click", ".subcateg", function(ev){
        // ev.preventDefault();
    $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    });
</script>

{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">
   <div class="container min"> 
   <section>
    <!--LISTADO PRODUCTOS-->
    <div class="mobile hidden listado_productos" style="background:url('{{ read_image(site.name + '_productos',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos" name="image" id="img_productos" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos" src="{{ read_image(site.name + '_productos', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos' }}"> {{ read_text(site.name +  '_productos') }}</div>
        </div>
    </div>
    <!--END LISTADO PRODUCTOS-->

        <!--HOMBRE-->
    <div class="mobile hidden listado_productos_hombre" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_hombre">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_hombre" name="image" id="img_productos_hombre" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_hombre" src="{{ read_image(site.name + '_productos_hombre', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_hombre',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_hombre">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_hombre' }}"> {{ read_text(site.name +  '_productos_hombre') }}</div>
        </div>
    </div>
    <!--END HOMBRE-->

        <!--LISTADO MUJER-->
    <div class="mobile hidden listado_productos_mujer" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_mujer">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_mujer" name="image" id="img_productos_mujer" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_mujer" src="{{ read_image(site.name + '_productos_mujer', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_mujer',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_mujer">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_mujer' }}"> {{ read_text(site.name +  '_productos_mujer') }}</div>
        </div>
    </div>
    <!--END MUJER-->

        <!--TRAJE DE BAÑO-->
    <div class="mobile hidden listado_productos_traje" style="background:url('{{ read_image(site.name + '_productos_traje',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_traje">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_traje" name="image" id="img_productos_traje" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_traje" src="{{ read_image(site.name + '_productos_traje', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_traje',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_traje">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_traje' }}"> {{ read_text(site.name +  '_productos_traje') }}</div>
        </div>
    </div>
    <!--END TRAJE DE BAÑO-->
        <!--ACCESORIOS-->
    <div class="mobile hidden listado_productos_accesorios" style="background:url('{{ read_image(site.name + '_productos_accesorios',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_accesorios">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_accesorios" name="image" id="img_productos_accesorios" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_accesorios" src="{{ read_image(site.name + '_productos_accesorios', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_accesorios',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_accesorios">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_accesorios' }}"> {{ read_text(site.name +  '_productos_accesorios') }}</div>
        </div>
    </div>
    <!--END ACCESORIOS-->

        <!--MARCAS-->
    <div class="mobile hidden listado_productos_marcas" style="background:url('{{ read_image(site.name + '_productos_marcas',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marcas">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marcas" name="image" id="img_productos_marcas" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marcas" src="{{ read_image(site.name + '_productos_marcas', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marcas',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marcas">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marcas' }}"> {{ read_text(site.name +  '_productos_marcas') }}</div>
        </div>
    </div>
    <!--END MARCAS-->

        <!--NIÑOS-->
    <div class="mobile hidden listado_productos_ninos" style="background:url('{{ read_image(site.name + '_productos_ninos',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_ninos">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_ninos" name="image" id="img_productos_ninos" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_ninos" src="{{ read_image(site.name + '_productos_ninos', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_ninos',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_ninos">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_ninos' }}"> {{ read_text(site.name +  '_productos_ninos') }}</div>
        </div>
    </div>
    <!--END NIÑOS-->

        <!--ROSARIO SCARINI-->
    <div class="mobile hidden listado_productos_marca1" style="background:url('{{ read_image(site.name + '_productos_marca1',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca1">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca1" name="image" id="img_productos_marca1" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca1" src="{{ read_image(site.name + '_productos_marca1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca1',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca1">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca1' }}"> {{ read_text(site.name +  '_productos_marca1') }}</div>
        </div>
    </div>
     <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca1 texto-one {{editabletext}}" text-id="{{ site.name + '_marca1' }}"> {{ read_text(site.name +  '_marca1') }}</div>
    </div>


    

    <!--END ROSARIO SCARINI-->

        <!--ANA BOLENA-->
    <div class="mobile hidden listado_productos_marca2" style="background:url('{{ read_image(site.name + '_productos_marca2',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca2">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca2" name="image" id="img_productos_marca2" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca2" src="{{ read_image(site.name + '_productos_marca2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca2',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca2">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca2' }}"> {{ read_text(site.name +  '_productos_marca2') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca2 texto-one {{editabletext}}" text-id="{{ site.name + '_marca2' }}"> {{ read_text(site.name +  '_marca2') }}</div>
    </div>
    
    <!--END ANA BOLENA-->

        <!--CORK DESIGN-->
    <div class="mobile hidden listado_productos_marca3" style="background:url('{{ read_image(site.name + '_productos_marca3',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca3">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca3" name="image" id="img_productos_marca3" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca3" src="{{ read_image(site.name + '_productos_marca3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca3',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca3">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca3' }}"> {{ read_text(site.name +  '_productos_marca3') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca3 texto-one {{editabletext}}" text-id="{{ site.name + '_marca3' }}"> {{ read_text(site.name +  '_marca3') }}</div>
    </div>
    <!--END CORK DESIGN-->

        <!--LA PIJAMERIA-->
    <div class="mobile hidden listado_productos_marca4" style="background:url('{{ read_image(site.name + '_productos_marca4',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca4">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca4" name="image" id="img_productos_marca4" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca4" src="{{ read_image(site.name + '_productos_marca4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca4',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca4">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca4' }}"> {{ read_text(site.name +  '_productos_marca4') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca4 texto-one {{editabletext}}" text-id="{{ site.name + '_marca4' }}"> {{ read_text(site.name +  '_marca4') }}</div>
    </div>
    <!--END LA PIJAMERIA-->

        <!--ANTONIMA-->
    <div class="mobile hidden listado_productos_marca5" style="background:url('{{ read_image(site.name + '_productos_marca5',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca5">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca5" name="image" id="img_productos_marca5" >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca5" src="{{ read_image(site.name + '_productos_marca5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca5',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca5">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca5' }}"> {{ read_text(site.name +  '_productos_marca5') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca5 texto-one {{editabletext}}" text-id="{{ site.name + '_marca5' }}"> {{ read_text(site.name +  '_marca5') }}</div>
    </div>
    <!--END ANTONIMA-->

        <!--PILI SAENZ JOYAS-->
    <div class="mobile hidden listado_productos_marca6" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca6 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca6" name="image" id="img_productos_marca6 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca6" src="{{ read_image(site.name + '_productos_marca6 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca6',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca6">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca6 ' }}"> {{ read_text(site.name +  '_productos_marca6') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca6 texto-one {{editabletext}}" text-id="{{ site.name + '_marca6' }}"> {{ read_text(site.name +  '_marca6') }}</div>
    </div>
    <!--END PILI SAENZ JOYAS-->

    <!--ALOHA SW-->
    <div class="mobile hidden listado_productos_marca7" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca7 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca7" name="image" id="img_productos_marca7 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca7" src="{{ read_image(site.name + '_productos_marca7 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca7',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca7">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca7 ' }}"> {{ read_text(site.name +  '_productos_marca7') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca7 texto-one {{editabletext}}" text-id="{{ site.name + '_marca7' }}"> {{ read_text(site.name +  '_marca7') }}</div>
    </div>
    <!--END ALOHA SW-->

    <!--LISANTINO-->
    <div class="mobile hidden listado_productos_marca8" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca8 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca8" name="image" id="img_productos_marca8 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca8" src="{{ read_image(site.name + '_productos_marca8 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca8',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca8">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca8 ' }}"> {{ read_text(site.name +  '_productos_marca8') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca8 texto-one {{editabletext}}" text-id="{{ site.name + '_marca8' }}"> {{ read_text(site.name +  '_marca8') }}</div>
    </div>
    <!--END LISANTINO-->

    <!--KUYEN-->
    <div class="mobile hidden listado_productos_marca9" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca9 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca9" name="image" id="img_productos_marca9 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca9" src="{{ read_image(site.name + '_productos_marca9 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca9',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca9">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca9 ' }}"> {{ read_text(site.name +  '_productos_marca9') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca9 texto-one {{editabletext}}" text-id="{{ site.name + '_marca9' }}"> {{ read_text(site.name +  '_marca9') }}</div>
    </div>
    <!--END KUYEN-->

    <!--A MI ME VISTE MI MAMI-->
    <div class="mobile hidden listado_productos_marca10" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca10 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca10" name="image" id="img_productos_marca10 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca10" src="{{ read_image(site.name + '_productos_marca10 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca10',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca10">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca10 ' }}"> {{ read_text(site.name +  '_productos_marca10') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca10 texto-one {{editabletext}}" text-id="{{ site.name + '_marca10' }}"> {{ read_text(site.name +  '_marca10') }}</div>
    </div>
    <!--END A MI ME VISTE MI MAMI-->

    <!--MANDALA-->
    <div class="mobile hidden listado_productos_marca11" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca11 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca11" name="image" id="img_productos_marca11 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca11" src="{{ read_image(site.name + '_productos_marca11 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca11',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca11">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca11 ' }}"> {{ read_text(site.name +  '_productos_marca11') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca11 texto-one {{editabletext}}" text-id="{{ site.name + '_marca11' }}"> {{ read_text(site.name +  '_marca11') }}</div>
    </div>
    <!--END MANDALA-->

    <!--STOFF-->
    <div class="mobile hidden listado_productos_marca12" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca12 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca12" name="image" id="img_productos_marca12 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca12" src="{{ read_image(site.name + '_productos_marca12 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca12',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca12">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca12 ' }}"> {{ read_text(site.name +  '_productos_marca12') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca12 texto-one {{editabletext}}" text-id="{{ site.name + '_marca12' }}"> {{ read_text(site.name +  '_marca12') }}</div>
    </div>
    <!--END STOFF-->

    <!--YAMBO-->
    <div class="mobile hidden listado_productos_marca13" style="background:url('{{ read_image(site.name + '_productos_mujer',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_marca13 ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca13" name="image" id="img_productos_marca13 " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_marca13" src="{{ read_image(site.name + '_productos_marca13 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca13',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_marca13">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_marca13 ' }}"> {{ read_text(site.name +  '_productos_marca13') }}</div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center" class=" hidden listado_productos_marca13 texto-one {{editabletext}}" text-id="{{ site.name + '_marca13' }}"> {{ read_text(site.name +  '_marca13') }}</div>
    </div>
    <!--END YAMBO-->

    <!--OFERTA-->
    <div class="mobile hidden listado_productos_oferta" style="background:url('{{ read_image(site.name + '_productos_oferta',500) }}'); height:300px; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(90%); -webkit-filter: grayscale(0%) brightness(90%); -moz-filter: grayscale(0%) brightness(90%); -ms-filter: grayscale(0%) brightness(90%);-o-filter: grayscale(0%) brightness(90%); background-position:center; margin-bottom: 40px;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos_oferta ">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_oferta" name="image" id="img_productos_oferta " >
        </div>
        {% end %}
        <img id="{{ site.name }}_productos_oferta" src="{{ read_image(site.name + '_productos_oferta ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_oferta',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="container hidden min listado_productos_oferta">
        <div class="col-md-12">
            <div class="text-center titulo-prou {{editabletext}}" text-id="{{ site.name + '_productos_oferta ' }}"> {{ read_text(site.name +  '_productos_oferta') }}</div>
        </div>
    </div>
    <!--END OFERTA-->
</div>
</section>
</div>


<section>
   <div class="container min">

    <div class="products"></div>


    </div>
</section>




</body>


{% include '../home/footer.html' %}
{% end %}


