  <div id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar">
    <div class="container-fluid">
         <div align="center">
             <hr>
         </div>
   </div>
   <!-- <div class="container min">
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9d30f1aa38d65659ac82cd99a7ec6aa6.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
   </div> -->

<div class="container min">
  <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform-comerc text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot">
                            <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_0' }}"> {{ read_text(site.name +  '_foot_0') }}
                            </li>
                            {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;">
                                  <label for="img_foot_rrss">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_rrss" name="image" id="img_foot_rrss" >
                              </div>
                              <img class="change-image editablelink" link-id="{{ site.name + '_img_foot_rrss' }}" content="{{ read_link(site.name + '_img_foot_rrss') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="top: 20px;left: -23px;">
                            {% end %}
                            <a id="{{ site.name + '_img_foot_rrss' }}" href="{{ read_link(site.name + '_img_foot_rrss') }}">
                              <div class="footer-logo-rrss">
                                <img class="l-footer" id="{{ site.name }}_img_foot_rrss" src="{{ read_image(site.name + '_img_foot_rrss', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_rrss',500) }}'" alt="item">
                              </div>
                            </a>
                            {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;top: 70px;">
                                  <label for="img_foot_rrss_2">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_rrss_2" name="image" id="img_foot_rrss_2" >
                              </div>
                              <img class="change-image editablelink" link-id="{{ site.name + '_img_foot_rrss_2' }}" content="{{ read_link(site.name + '_img_foot_rrss_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="left: -23px;top: 70px;">
                            {% end %}
                            <a id="{{ site.name + '_img_foot_rrss_2' }}" href="{{ read_link(site.name + '_img_foot_rrss_2') }}">
                              <div class="footer-logo-rrss">
                                <img class="l-footer" id="{{ site.name }}_img_foot_rrss_2" src="{{ read_image(site.name + '_img_foot_rrss_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_rrss_2',500) }}'" alt="item">
                              </div>
                            </a>                     
                    </ul>
            </div>
              </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot ">
                            <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_10' }}"> {{ read_text(site.name +  '_foot_10') }}
                            </li>
                            <div class="gun {{editabletext}}" text-id="{{ site.name + '_foot_11' }}"> {{ read_text(site.name +  '_foot_11') }}
                            </div>
                            <div class="gun {{editabletext}}" text-id="{{ site.name + '_foot_12' }}"> {{ read_text(site.name +  '_foot_12') }}
                            </div>
                    </ul>
            </div>
            </div>


             <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform-2 text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot">
                        <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_20' }}"> {{ read_text(site.name +  '_foot_20') }}
                        </li>
                    </ul>
            </div>
            </div>
  
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="inform-comerc text-left">
                  <div class="clearfix"></div>
                  <ul class="no-dot d-o">
                      <li class="ul-2 {{editabletext}}" text-id="{{ site.name + '_foot_2323' }}"> {{ read_text(site.name +  '_foot_2323') }}
                      </li>
                      {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;top:50px;">
                                  <label for="img_foot_webpay">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_webpay" name="image" id="img_foot_webpay" >
                              </div>
                            {% end %}
                            <div class="de">
                              <img class="webpay" id="{{ site.name }}_img_foot_webpay" src="{{ read_image(site.name + '_img_foot_webpay', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_webpay',500) }}'" alt="item">
                            </div>
                      {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;top: 130px;">
                                  <label for="img_foot_img_2">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_img_2" name="image" id="img_foot_img_2" >
                              </div>
                            {% end %}
                            <div class="de">
                              <img class="webpay" id="{{ site.name }}_img_foot_img_2" src="{{ read_image(site.name + '_img_foot_img_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_img_2',500) }}'" alt="item">
                            </div>
                      <!--<div class="de {{editabletext}}" text-id="{{ site.name + '_footer_31' }}"> {{ read_text(site.name +  '_footer_31') }}
                      </div>
                      <div class="de  {{editabletext}}" text-id="{{ site.name + '_footer_lodin' }}"> {{ read_text(site.name +  '_footer_lodin') }}
                      </div> -->
                  </ul>
              </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 logo-footer">
            {% if is_admin %}
            <div class="image-upload visible-movil" style="left: 25px;">
                <label for="img_logo_footer">
                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo_footer" name="image" id="img_logo_footer" >
            </div>
            {% end %}
            <a id="{{ site.name + '_logo' }}" href="#">
              <div class="base-logo-footer">
                <img class="l-footer-footer" id="{{ site.name }}_img_logo_footer" src="{{ read_image(site.name + '_img_logo_footer', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo_footer',500) }}'" alt="item">
              </div>
            </a>
            <div class="col-md-3">
              {% if user is None %}
                <a href="{{ site_base }}/auth/login" class="a-footer" >Login</a>
              {% else %}
                <a href="{{ site_base }}/auth/logout" class="a-footer" >Logout</a>
              {% end %}
            </div> 
          </div>
          <div class="col-md-12 col-xs-12 firma"><a href="https://www.loadingplay.com">Sytes tech. Developed by LoadingPlay.</a></div>
      </div>
  </div>
